@media (max-width: 699px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 520px) {
  main {
    margin-top: 28rem;
  }
}

@media (min-width: 700px) {
  header {
    width: calc(100vw - 3rem);
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 7px;
    .header-left {
      margin-left: 15%;
      width: 350px;
    }
  }
  main {
    width: calc(100vw - 30%);
    position: relative;
    left: 0.4rem;
    margin-top: 28rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .about {
      border-radius: 7px 0 0 0;
    }
    .portfolio {
      border-radius: 0 7px 0 0;
    }
    .qualifications {
    }
  }
  .hide-desktop {
    display: none;
  }
  .brleft {
    border-radius: 0 7px 7px 0;
  }
  .brtl {
    border-radius: 0 7px 0 0;
  }
  .brbr {
    border-radius: 0 0 7px 0;
  }
  .column-1 {
    border-radius: 0 0 0 7px;
    overflow: hidden;
  }
}

@media (min-width: 960px) {
  header {
    width: calc(100vw - 12rem);
    left: 6rem;
    .header-left {
      margin-left: 20%;
    }
  }
  main {
    width: calc(100vw - 40%);
  }
}
