@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,700i&display=swap');
@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: nunito;
  color: white;
}
a {
  cursor: pointer;
}
footer {
  text-align: center;
  margin-bottom: 1rem;
  color: #4a4a4a;
  font-size: 0.8rem;
}

@import 'typography';
@import 'btns';
@import 'header';
@import 'mainSection1';
@import 'mainSection2';
